.navbar{
    position: fixed;
    left:0px;
    width:100%;
    
}

table h3{
    font-size:16px;
}

#Acceuil{
    padding-top:3%;
    background:#212529;
    color:white;
    text-align: center;
    width:100%;
}

body{
    background:#212529;
    width:100%;
}
#operation{
    padding-top:4%;
}

